.margarita.pid
margarita
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db
tmp

app/config/production/*
*.bak

# js stuff
bower_components
node_modules

# IDEs
.idea
_ide_helper.php

/bootstrap/compiled.php
/vendor
public/css/*
public/js/vendor/*
public/js/app*
public/img/*
public/fonts/*
rev-manifest.json


github_pull.sh
public/__github_update.php
npm-debug.log
