/* Background2 is darker than background1 and tinted like epfl-red a bit */
* {
  box-sizing: border-box;
}
.clearfix,
.navbar-inner,
.dropdown > li {
  display: block;
  zoom: 1;
}
.clearfix:after,
.navbar-inner:after,
.dropdown > li:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
html,
body {
  height: 100%;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 960px;
  margin: auto;
}
#footer {
  padding: 20px;
  padding-bottom: 50px;
}
#page {
  background-color: #f9f2f2;
  padding: 10px;
  min-height: 500px;
}
.navbar {
  background-color: #79000c;
  position: relative;
}
.navbar-inner {
  height: 50px;
}
.navbar-inner .pull-right {
  float: right;
}
.navbar-inner a {
  color: white;
  font-weight: bold;
}
.navbar-inner a:hover {
  text-decoration: none;
}
.navbar-inner > * {
  float: left;
}
.navbar-inner .brand {
  font-size: 36px;
  margin: 3px 10px;
}
.navbar-inner ul.nav-list {
  list-style-type: none;
  margin: 0;
}
.navbar-inner ul.nav-list > li {
  height: 50px;
  float: left;
  border-right: 1px black solid;
}
.navbar-inner ul.nav-list > li:first-child {
  border-left: 1px black solid;
}
.navbar-inner ul.nav-list > li > * {
  float: left;
  height: 100%;
  padding: 15px 10px;
  color: white;
  background-color: #79000c;
}
.navbar-inner ul.nav-list > li > a:hover {
  background-color: #9c000f;
}
.navbar-inner ul.nav-list > li > ul.dropdown {
  top: 50px;
  height: initial;
  padding: 0;
}
.navbar-inner ul.nav-list > li > ul.dropdown a {
  display: block;
  padding-left: 20px;
}
.navbar-inner ul.nav-list > li > ul.dropdown .notif-icon {
  padding-left: 0;
  display: block;
  float: left;
  margin-right: 10px;
}
.side {
  float: right;
  width: 300px;
  border-left: 1px black solid;
  padding: 5px;
  padding-left: 10px;
}
.main {
  margin-right: 310px;
}
.comment {
  border-bottom: 1px black solid;
}
.comment .comment-author {
  float: left;
  height: 100%;
  width: 200px;
}
.comment .comment-header,
.comment .comment-body {
  margin-left: 200px;
}
.comment .comment-author .author-name {
  font-weight: bold;
  display: block;
}
footer {
  color: #cce;
}
footer ul {
  list-style-type: none;
}
footer ul a {
  text-decoration: none;
  font-weight: normal;
}
a {
  color: #22f;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* dropdown */
.dropdown {
  display: none;
  position: absolute;
  padding: 0;
  top: 20px;
}
.dropdown > li {
  padding: 5px;
  border-bottom: 1px black solid;
}
.dropdown > li a {
  font-weight: normal;
  display: block;
  float: left;
}
